@import (css) url('https://fonts.googleapis.com/icon?family=Material+Icons');

@PREFIX: chatroom-danmaku;

.@{PREFIX}_messages {
    height: 100%;
    font-size: 24px;
}

@keyframes translateMessage {
    from { transform: translateX(100%) ;}
    to { transform: translateX(-100%); }
}

.@{PREFIX}_message {
    position: absolute;
    height: 32px;
    width: 100%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    animation: translateMessage 10s linear forwards;
    white-space: nowrap;
}
