@PREFIX: chat-danmaku;
@lineHeight: 32px;
@duration: 10s;

.message-shadow(@color) {
  text-shadow+: 2px 2px 10px @color;
}

.message-border(@color) {
  text-shadow+: -1px 0 @color, 0 1px @color, 1px 0 @color, 0 -1px @color;
}


.@{PREFIX}-messages {
  height: 100%;
  --line-height: @lineHeight;
  --border-color: black;
  --shadow-color: black;
}

@keyframes translateMessage {
  from { transform: translateX(100%) ;}
  to { transform: translateX(-100%); }
}

.@{PREFIX}-message {
  position: absolute;
  height: var(--line-height);
  line-height: var(--line-height);
  font-size: 28px;
  min-width: 100%;
  animation: translateMessage @duration linear forwards;
  white-space: nowrap;

  top: ~"calc(@{lineHeight} * var(--line-num))";
  opacity: var(--opacity, 1);
  color: var(--color, #fff);

  &.border {
    .message-border(var(--border-color));
  }

  &.shadow {
    .message-shadow(var(--shadow-color));
  }

  &.border.shadow {
    .message-border(var(--border-color));
    .message-shadow(var(--shadow-color));
  }

}

@import './sites/garena-live/index.less';
@import './sites/twitch-tv/index.less';
